/node_modules/
package-lock.json
.env
ENV-copy.json

/blockchain/node_modules/
/blockchain/build/contracts/
/blockchain/voteZK/circom/

/agent2/private/*

/utils/dummies/dummies*

/ballotbox-ui/node_modules